.weather{
    color: rgb(255, 255, 255);
    .city{
        background: transparent;
        border: none;
        border-bottom: 1px solid #fff;   
        color: rgb(255, 255, 255);
        text-transform: uppercase;
    }
    .description-container{ 
        display: flex;
        flex-direction: column;
        font-size: 18px;
        letter-spacing: 2px;
        .temperature-description{
            .temperature{
                padding-right: 10px;
            }
        }
    }
}
